* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  position: absolute;
  left: 740px;
  color: blue;
}
div.container {
  width: 350px;
  height: 450px;
  background-color: lightpink;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin: 150px auto;
  box-shadow: 3px 3px 3px 3px rgb(219, 117, 207);
  border-radius: 30px;
}
div.container > input {
    height: 30px;
  text-align: center;
  width: 180px;
  margin: 0px auto;
  border-radius: 40px;
}
div.container > button {
  width: 100px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 30px;
}
h1{
  color: rgb(119, 33, 224);
  position: absolute;
  bottom: 400px;
  left: 70px;
  font-family: sans-serif;
}
div > img{
  width: 400px;
  height: 300px;
 position: absolute;
 bottom: 100px;
 left: 30px;
}
